.chat-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(119, 118, 118);
    padding: 10px;
    color: wheat;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.robot-icone{
    width: 30px;
    height: 30px;
    
}